$gray: gray;
$black: black;
$white: white;
$green: green;
$orange: orange;
$red: red;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  $min: 300px;
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  img {
    min-width: $min;
    max-width: 600px;
    height: 400px;
  }
  .noPic {
    background-color: $gray;
    width: $min;
    height: 400px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.App-link {
  color: #61dafb;
}

.recallBtn {
  margin: 10px;
  padding: 10px;
  font-size: 1em;
  background: $green;
  color: $white;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.next-btn {
  background: $black;
}
.btn-50 {
  background: $orange;
}
.blank {
  background: $red;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
